{% extends "base.html" %}

{% block content %}
<div class="collection-container">
    <h1 class="collection-title">Collection Femmes</h1>
    <div class="title-divider"></div>

    <div class="products-grid">
        {% for p in products %}
        <div class="product-card">
            <div class="product-image-container">
                <img src="/static/images/women1.png" alt="{{p.name}}" class="main-product-img">
                
            </div>
            
            <div class="product-info">
                <h3 class="product-name">{{p.name}}</h3>
                <p class="product-price">{{p.price}} DH</p>
                <p class="product-size">Size: {{p.size}}</p>
                
                <a href="/add_to_cart/{{p.id}}" class="add-to-cart-btn">Ajouter au panier</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
